@import "../responsive.scss";
.aircraft{
    background-color: #eef0f2;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
    
    .imageContainer{
        height: 40rem;
        width: 100vw;
        
        
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 22%;
            
        }
    }

    .wrapper{
        display: flex;
        gap: 4rem;
        //border: 4px solid green;
        background-color: #eef0f2;
        //max-width: 1450px;
        margin: 0 auto;
        margin-top: 4rem;
        padding-bottom: 10rem;
        

        

        

        
        
        .sidebar{
            position: relative;
            flex: 1;

            @include lg{
                display: none;
            }

            .menu{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                //border: 1px solid red;
                color: #0f4c5c;
                font-weight: 600;
                letter-spacing: 0.1rem;
                position: fixed;
                top: 50rem;
                left: 6rem;
                bottom: 20rem;
                

                &.position{
                    position: sticky;
                    bottom: 10rem;
                    border: 1px solid red;
                    
                    
                }
                
                




                .navLink{
                    font-size: 1.1rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left: 0.6rem;
                    transition: all ease-in-out 300ms;
    
                    &.actives{
                        //border-left: 3px solid olive;
                        background-color: white;
                        padding: 0.5rem;
                        
                    }
    
                    &.pending{
                        &:hover{
                            border-left: 2px solid grey;
                        }
                        
                    }
                }

                .sideLink{
                    background-color: #0f4c5c;
                    color:#eef0f2;
                    width: 90%;
                    text-align: center;
                    padding: 1.1rem 0;
                    font-size: 1.3rem;
                    margin-top: 1rem;
                    transition: all ease-in-out 300ms;

                    &:hover{
                        color: #a59132;
                    }
                }


            }
            
            
            
        }

        .right{
            flex: 3;
            
            
            @include lg{
                width: 100vw;
                
            }

            .container{

                @include lg{
                    
                    width: 100%;
                    
                }

                .overview{
                    padding-bottom: 3rem;
                    width: 100%;
                    

                    @include lg{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        
                        
                        padding-left: 3rem;
                        padding-right: 3rem;
                    }

                    @include sm{
                        width: 90%;
                        
                    }

                    

                    p{
                        max-width: 1000px;
                        padding-top: 1rem;
                        line-height: 1.5rem;
                        font-weight: 400;
                        margin-bottom: 3rem;

                        @include lg{
                            width: 90%;
                        }

                        @include sm{
                            width: 90%;

                        }
                    }

                    img{
                        margin-bottom: 2rem;
                        max-width: 1000px;
                        

                        @include lg{
                            width: 85%;
                        }

                        @include sm{
                            width: 85%;
                        }


                        
                        
                        
                    }

                    h1{
                        color: #0f4c5c;
                        margin-bottom: 2rem;
                    }

                    h3{
                        color: #0f4c5c;
                        margin-bottom: 1rem;
                    }

                    ul{
                        list-style-type:disc;
                        margin-left: 2rem;
                        margin-bottom: 2rem;
                        color: #0f4c5c;

                        li{
                            color: black;
                            padding-top: 0.3rem;
                        }

                    }
                }
            }

            .specs{
                background-color: #0f4c5c;
                padding-left: 3rem;
                padding-top: 4rem;
                padding-bottom: 4rem;
                overflow-x: hidden;

                @include sm{
                    padding-left: 0;
                }
                
                
                h1{
                    @include sm{
                        text-align: center;
                    }
                }

                .airframe{
                    margin: 2rem 0;
                    

                    @include sm{
                        padding-left: 0;
                        width: 85%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    

                    .top{
                        @include sm{
                            display: flex;
                            gap: 2rem;
                            align-self: center;

                        }
                    }

                    .bottom{
                        display: flex;
                        gap: 2rem;
                        height: 5rem;
                        margin-top: 2rem;

                        @include sm{
                            gap: 1rem;
                        }


                        .subtitle{
                            padding-bottom: 1rem;
                            color: white;
                            @include sm{
                                font-size: 0.9rem;
                            }
                        }

                        p{
                            align-self: center;
                            @include sm{
                                font-size: 0.8rem;
                            }
                        }
                    }
                    
                }

                .engines{
                    margin: 2rem 0;
                    

                    @include sm{
                        padding-left: 0;
                        width: 85%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    

                    .top{
                        @include sm{
                            display: flex;
                            gap: 2rem;
                            align-self: center;

                        }
                    }

                    .bottom{
                        display: flex;
                        gap: 2rem;
                        height: 5rem;
                        margin-top: 2rem;

                        @include sm{
                            gap: 1rem;
                        }


                        .subtitle{
                            padding-bottom: 1rem;
                            color: white;
                            @include sm{
                                font-size: 0.9rem;
                            }
                        }

                        p{
                            align-self: center;
                            @include sm{
                                font-size: 0.8rem;
                            }
                        }
                    }
                    

                }

                .engine-1{
                    margin: 2rem 0;
                    

                    @include sm{
                        padding-left: 0;
                        width: 85%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    

                    .top{
                        @include sm{
                            display: flex;
                            gap: 2rem;
                            align-self: center;

                        }
                    }

                    .bottom{
                        display: flex;
                        gap: 2rem;
                        height: 5rem;
                        margin-top: 2rem;

                        @include sm{
                            gap: 1rem;
                        }


                        .subtitle{
                            padding-bottom: 1rem;
                            color: white;
                            @include sm{
                                font-size: 0.9rem;
                            }
                        }

                        p{
                            align-self: center;
                            @include sm{
                                font-size: 0.8rem;
                            }
                        }
                    }
                    
                }

                
                .apu{
                    margin: 2rem 0;
                    

                    @include sm{
                        padding-left: 0;
                        width: 85%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    

                    .top{
                        @include sm{
                            display: flex;
                            gap: 2rem;
                            align-self: center;

                        }
                    }

                    .bottom{
                        display: flex;
                        gap: 2rem;
                        height: 5rem;
                        margin-top: 2rem;

                        @include sm{
                            gap: 1rem;
                        }


                        .subtitle{
                            padding-bottom: 1rem;
                            color: white;
                            @include sm{
                                font-size: 0.9rem;
                            }
                        }

                        p{
                            align-self: center;
                            @include sm{
                                font-size: 0.8rem;
                            }
                        }
                    }
                    

                    
                
                }

            }

            .maintenance{
                background-color: #fbfbfb;
                display: flex;
                flex-direction: column;
                padding-top: 4rem;
                padding-left: 4rem;
                padding-bottom: 3rem;

                h1{
                    padding-bottom: 2rem;

                }

                @include md{
                    align-items: center;
                    
                    padding-left: 0;
                }
                .card{
                    width: 50rem;
                    height: 25rem;
                    margin-bottom: 3rem;
                    display: flex;

                    @include md{
                        flex-direction: column;
                        height: 50rem;
                        width: 85vw;
                    }

                    img{
                        width: 50%;
                        object-fit: cover;

                        @include md{
                            height: 70%;
                            width: 100%;
                        }
                    }

                    div{
                        align-self: center;
                        padding-left: 2rem;

                        @include md{
                            margin-top: 2rem;
                            width: 100%;
                        }

                        ul{
                            padding-left: 2rem;
                            list-style-type: disc;
                
                            li{
                                padding-bottom: 0.5rem;
                            }

                            li:first-child{
                                padding-top: 2rem;
                            }
                        }
                    }
                }
            }

            .btns{
                max-width: 880px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3rem;
                margin-top: 3rem;
                

                @include lg{
                    width:max-content;
                    margin: 0 auto;
                    margin-top: 3rem;
                }


                .link{
                    background-color: #0f4c5c;
                    width: 15rem;
                    height: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.3rem;
                    color: white;
                    transition: all ease-in-out 200ms;

                    &.link:hover{
                        color: #a59132;
                    }
                    
                }
            }
        }
    }
}