@import "../responsive.scss";
.all{
    position: relative;
    background-color: #eef0f2;
    ///height: 100vw;

    .imageBox{
        height: 40rem;
        background-image: url("../../assets/Largeairplane.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40%;
        margin-bottom: 4rem;
        
    }

    .box{
        position: absolute;
        top: 0;
        height: 40rem;
        width: 100vw;
        display: flex;
        align-items: center;
    }

    .search{
        //border: 2px solid red;
        height: 10rem;
        width: 25rem;
        top: 0;
        margin: 0 auto;
        padding: 2rem 0;
        background-color: rgba(0,0,0, 0.5);

        

        h1{
            text-align: center;
            margin-bottom: 1rem;
            color: #eef0f2;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
            select{
                width: 70%;
                padding: .5rem;
                font-size: 1rem;
                cursor: pointer;
                outline: none;
                text-transform: uppercase;
            }

            .searchBtn{
                margin-top: 1rem;
                width: 70%;
                padding: 0.7rem 0;
                font-size: 1rem;
                text-transform: uppercase;
                cursor: pointer;
                background-color: #0f4c5c;
                color: #eef0f2;
                letter-spacing: 0.2rem;
                transition: all ease-in-out 200ms;
                border: none;

                &:hover{
                    color: #a59132;
                }
            }
        }

        @media (max-width: 450px){
            width: 90%;

            h1{
                font-size: 1.5rem;
            }

            select {
                font-size: 0.9rem;
            }
        }
    }
    .showBtn{
        
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
        width: max-content;
        

        button{
            background-color: #0f4c5c;
            color:#eef0f2;
            border: none;
            font-size: 1.3rem;
            letter-spacing: 0.3rem;
            padding: 0.5rem 2.5rem;
            cursor: pointer;
            text-transform: uppercase;
            transition: all ease-in-out 300ms;

            @include sm{
                font-size: 1.1rem;
            }

            &:hover{
                color:#a59132;
                padding: 0.7rem 2.5rem;
            }
        }
        
    }
}