@import "../responsive.scss";

.featured{
    background-color: #eef0f2;
    margin-top: 2rem;
    padding-bottom: 2rem;
    h2{
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: #0f4c5c;
    }

    .link{
        display: flex;
        

        .linkBtn{
            background-color: #0f4c5c;
            padding: 1rem 2rem;
            margin: 0 auto;
            color:#eef0f2;
            font-size: 1.3rem;
            letter-spacing: 0.2rem;
            transition: all ease-in-out 200ms;

            &:hover{
                color: #a59132;
            }

            @include md{
                font-size: 1.1rem;
            }
        }
    }
    
}